.my-nav{
    font-size: 30px;
    font-weight: bold;
}
.nav-drop{
    font-size: 20px;
    font-weight: bold;
}
.nav-drop-item{
    font-size: 20px;
    font-weight: bold;
}
.logo-color{
    font-weight: bold;
    color: white;
    font-size: 2em;
}
.filmai{
    font-weight: bold;
    color: blue;
    font-size: x-large;
}
.my-button{
    margin-top: 1cm;
    margin-bottom: 1cm;
}
.my-table{
    color: red ;
    font-size: 1em;
}
.my-search{
    margin-top: 1cm;
}